<!--Basic textarea-->
<div class="home">
  <div class="bg-img" style="background-image: url('./assets/image/bg11111.jpg');">
  </div>
  <h1>Welcome To Plagiarism Checker</h1>
  <h5>"People who copy you, will always be one step behind"</h5>
  <h6>-Wayne Gerard Trotman</h6>
  <!-- <h2>We provide you with the facility to check the submitted documents for plagiarism through out system that uses the Longest Common Substing Algorithm(LCS)</h2> -->
  <!-- <div #uploadFile *ngIf="!flag">
    <div class="form-group">
      <label for="textarea"></label>
      <textarea class="form-control rounded-1" id="textarea" placeholder="upload your text here" [(ngModel)]="fileText"></textarea>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" required (change)="onFileSelected($event)" aria-describedby="inputGroupFileAddon01">

          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>

        <div class="checker">
          <button class="btn btn-success" (click)="onUpload()">Upload file</button>
        </div> -->
  <!-- </div>
</div> -->
  <!-- </div>

<div class="percentage">
  <div id="p" #text *ngIf="flag">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <textarea id="area" rows="10" cols="80">
    <h3>The plagiarized words are = </h3> {{plag || ''}}
  </textarea>
      <br/>
      <h4> The percentage is {{plagPercentage}}%</h4>

    </div>

    <!-- <div id="pp" class="d-flex flex-column justify-content-center align-items-center" style="height: 30vh">
          <textarea id="area1"> The percentage is = {{plagPercentage}}%</textarea> -->
  <!-- <br/>
  <button id="check" class="btn btn-primary" (click)="flagOff()"> Check More </button> -->

  <!-- </div> -->
<!-- </div> -->
<!-- </div>  -->
</div>