.about2{
    margin-top: 10px;
    text-align: center;
    height: 500px;
    /* background-color: #f6f6f6; */
}

.about:after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}

.about:hover:after {
    width: 100%;
}

.about h3 {
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.about:hover h3 {
    color: rgb(0, 0, 0);
}
.header{
    align-content: center;
    margin-left: 380px;
    color: rgb(0, 0, 0);
    margin-top: 125px;

}

.about1{
    margin-left: 20px;
    padding: 30px 30px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: justify;
}
.title{
    margin-bottom: 40px;
    margin-left: 110px;
}

h3{
    text-align: center;
}

p{
    margin-top: 20px;
    font-size: 130%;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
