<!-- About -->
<div class="about2">
  <div id="about" class="section md-padding">


    <!-- Container -->
    <div class="container">

      <!-- Row -->
      <div class="row">

        <!-- Section header -->
        <div class="header">
          <h2 class="title">Our Website</h2>
        </div>
        <!-- /Section header -->
      </div>
      <!-- /Row -->
      <div class="row1">

        <!-- about -->
        <div class="col-md-12">
          <div class="about1">

            <h3>Features</h3>
            <p>Plagiarism checker is a web-based application which finds out if a student has copied or used someone else’s
              work. The main aim of this project is to detect the percentage of similarity among the assignment that are
              submitted. The students nowadays tend to copy their assignments from their friends and the senior students
              and present them as their own work. This project helps to find out whether the submitted assignments are copied
              or not. If the assignment is found to be copied, then this project will help to detect the similar assignments
              and display the similarity in percentage. It mainly focuses on comparing assignments by using the longest common
              substring algorithm which is used to find the longest common substring in the document. This application
              consists of a database where all the assignment that are uploaded by the students are stored and further processed.</p>
          </div>
        </div>
        <!-- /about -->
      </div>
      <!-- /Row -->

    </div>
    <!-- /Container -->
  </div>
</div>
<!-- /About -->