<div class="team-clean">
    
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Our Team</h2><br/><br/><br/>
      
    </div>
    <div class="team">
    <div class="row people">
      <div class="col-md-6 col-lg-6 item">
        <img class="rounded-circle" src="/assets/image/t5.jpg"/>
        <h3 class="name">Bijay Nakarmi</h3>
        <p class="title">Student</p>

      </div>
      <div class="col-md-6 col-lg-6 item">
        <img class="rounded-circle" src="/assets/image/t1.jpg"/>
        <h3 class="name">Lisa Nakarmi</h3>
        <p class="title">Student</p>

      </div>
      <div class="col-md-6 col-lg-6 item">
        <img class="rounded-circle" src="/assets/image/t2.jpg"/>
        <h3 class="name">Sajan Dongol</h3>
        <p class="title">Student</p>

      </div>
      <div class="col-md-6 col-lg-6 item">
        <img class="rounded-circle" src="/assets/image/t9.jpg"/>
        <h3 class="name">Shital Shrestha</h3>
        <p class="title">Student</p>

      </div>
    </div>  
    </div>

    
      
  </div>
</div>