<nav class="navbar my-nav navbar-expand-lg fixed-top nav-transparent">
    
    <div id="logo">
    
      <img src="assets/image/logo1.jpg" >
      
      
    </div>
      
      
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item ">
             <a class="btn btn-md align-middle btn-outline-secondary" routerLink="/home">Home <span class="sr-only"></span></a>
          </li> -->
          <li class="nav-item ">
              <a class="btn btn-md align-middle btn-outline-secondary" routerLink="/student">Student <span class="sr-only"></span></a>
            </li>
          <li class="nav-item ">
            <a class="btn btn-md align-middle btn-outline-secondary" routerLink="/about">About <span class="sr-only"></span></a>
          </li>
          
          <li class="nav-item ">
            <a class="btn btn-md align-middle btn-outline-secondary" routerLink="/team">Team <span class="sr-only"></span></a>
          </li>
  
          <li class="nav-item ">
            <a class="btn btn-md align-middle btn-outline-secondary" routerLink="/contacts">Contacts <span class="sr-only"></span></a>
          </li>
          
          <li class="nav-item ">
            <a class="btn btn-md align-middle btn-outline-secondary" routerLink="/login">Login<span class="sr-only"></span></a>
          </li>
          
        </ul>
      
     
      
    </div>
    
  </nav>