<div class="home">
  <div class="bg-img" style="background-image: url('./assets/image/bg11111.jpg');">
  </div>
  <div #uploadFile *ngIf="!flag">
    <div class="form-group">
      <label for="textarea"></label>
      <textarea class="form-control rounded-1" id="textarea" placeholder="Upload your text here" [(ngModel)]="fileText"></textarea>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" required (change)="onFileSelected($event)" aria-describedby="inputGroupFileAddon01">

          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
    </div>
  </div>


  <form class="form" #userForm="ngForm">
    <div class="form-inline">
      <label for="username">Enter Name :</label>
      <input type="username" class="form-control" id="username"  placeholder="Username" required [(ngModel)]="name" name="name">
      
    </div>
    <div class="form-inline">
      <label for="userId">Enter Id :</label>
      <input type="number" class="form-control" id="userid" placeholder="StudentId" [(ngModel)]="std_id" name="stdid">
    </div>
    <div class="checker">
        <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-outline-success" (click)="OnSubmit()">Submit</button>
      </div>
  </form>
</div>