<!-- Contact -->

<div class="contacts">
  <!-- Container -->
  <div class="container">
     <!-- Section-header -->
     <div class="section-header text-center">
        <h2 class="title">Get in touch</h2>
      </div>
      <!-- /Section-header -->

    <!-- Row -->
     <div class="row">
   
        
         <!-- contact -->
         
        <div class="contact">
            <img src="/assets/image/phone.png">          
           <h3>Phone</h3>
           <p>014251711</p>
        </div>
      

         <!-- /contact -->
   
         <!-- contact -->
         
        <div class="contact1">
            <img src="/assets/image/email.png">
           <h3>Email</h3>
           <p>nccsedu@gmail.com</p>
         </div>
         
         <!-- /contact -->
   
         <!-- contact -->
         
         <div class="contact2">
            <img src="/assets/image/address.jpg">
           <h3>Address</h3>
           <p>National College Of Computer Studies</p>
           <p>Paknajol, Kathmandu</p>
         </div>
         
         <!-- /contact -->
   
        
   
     </div>
       <!-- /Row -->
   
   </div>
     <!-- /Container -->
   <!-- /Contact -->
  </div>   